{% extends 'admin/admin_base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <h2>Utilisateurs</h2>
    <nav class="vertical-nav">
        <a href="{{ path('admin_user_add') }}">Créer un compte</a>
        <a href="{{ path('admin_user_import') }}">Importer un fichier d'étudiants</a>
    </nav>
    <table class="table-auto">
        <tr>
            <th>ID</th>
            <th>Nom de famille</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Campus</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td class="border px-4 py-2">{{ user.id }}</td>
            <td class="border px-4 py-2">{{ user.lastName }}</td>
            <td class="border px-4 py-2">{{ user.firstName }}</td>
            <td class="border px-4 py-2">{{ user.email }}</td>
            <td class="border px-4 py-2">{{ user.campus.name }}</td>
            <td class="border px-4 py-2">{{ user.isActive ? 'Actif' : 'Inactif' }}</td>
            <td class="border px-4 py-2"><a href="{{ path('admin_user_account_activation_toggle', {'id': user.id}) }}">{{ user.isActive ? 'Désactiver' : 'Activer' }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

