{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block main %}
    <h1>{{ event.title }}</h1>
    <div>{{ event.description }}</div>
    <div>Clôture des inscriptions : {{ event.dateRegistrationEnded|date('d-m-Y à H:i') }}</div>
    <div>Date de la sortie : {{ event.dateStart|date('d-m-Y à H:i') }}</div>
    <div>Fin de la sortie : {{ event.dateEnd|date('d-m-Y à H:i') }}</div>
    <div>
        {% include 'inc/event_actions_link.html.twig' %}
    </div>
{% endblock %}