{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    <h1 class="text-xl">Connexion</h1>
    {# utilisation d'une classe de formulaire ici, pour le tenter... #}
    {{ form_start(loginForm) }}
        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.password) }}
        <div class="checkbox all-inline">
            {{ form_widget(loginForm.remember_me) }}
            {{ form_label(loginForm.remember_me) }}
        </div>
    {{ form_errors(loginForm) }}
    {{ form_end(loginForm) }}

    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
{% endblock %}
