{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block main %}
    <div>
        {{ form_start(searchForm) }}
        <div class="flex">
            <div class="mr-6">
                {{ form_row(searchForm.campus) }}
                {{ form_row(searchForm.keyword) }}
                <div class="block text-gray-700 text-sm font-bold mb-2 required">Dates de début de la sortie...</div>
                <div class="all-inline dates-special">
                    {{ form_row(searchForm.dateStart) }}
                    {{ form_row(searchForm.dateEnd) }}
                </div>
            </div>
            <div>
                <div class="block text-gray-700 text-sm font-bold mb-2 required">Inclure les sorties auxquelles...</div>
                <div class="all-inline checkbox">
                    {{ form_widget(searchForm.includeRegistered) }}
                    {{ form_label(searchForm.includeRegistered) }}
                </div>
                <div class="all-inline checkbox">
                    {{ form_widget(searchForm.includeNotRegistered) }}
                    {{ form_label(searchForm.includeNotRegistered) }}
                </div>
                {{ form_row(searchForm.submit) }}
            </div>
        </div>
        {{ form_end(searchForm) }}
    </div>

    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2">Titre</th>
                <th class="px-4 py-2">Date</th>
                <th class="px-4 py-2">Clôture</th>
                <th class="px-4 py-2">Inscrits / places</th>
                <th class="px-4 py-2">État</th>
                <th class="px-4 py-2">Inscrit</th>
                <th class="px-4 py-2">Organisateur</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </thead>
        {% for event in events %}
            <tr class="">
                <td class="border px-4 py-2">
                    {# voir le security voter pour comprendre ce is_granted ! #}
                    {% if is_granted('view', event) %}
                        <a href="{{ path('event_detail', {'id': event.id}) }}">{{ event.id }} {{ event.title }}</a>
                    {% else %}
                        {{ event.id }} {{ event.title }}
                    {% endif %}
                </td>
                <td class="border px-4 py-2">{{ event.dateStart|date('d-m-Y à H:i') }}</td>
                <td class="border px-4 py-2">{{ event.dateRegistrationEnded|date('d-m-Y à H:i') }}</td>
                <td class="border px-4 py-2">{{ event.registrations|length }} / {{ event.maxRegistrations }}</td>
                <td class="border px-4 py-2">{{ event.state.name }}</td>
                <td class="border px-4 py-2">{{ event.isRegistered(app.user) ? 'X' : '' }}</td>
                <td class="border px-4 py-2">{{ event.creator.fullName }}</a></td>
                <td class="border px-4 py-2 actions">
                    {% if is_granted('view', event) %}
                        <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>
                    {% endif %}
                    {% include 'inc/event_actions_link.html.twig' %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
