{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block main %}
    <div>
        {{ form_start(searchForm) }}
        <div class="block md:flex">
            <div class="mr-6">
                {{ form_row(searchForm.campus) }}
                {{ form_row(searchForm.keyword) }}
            </div>
            <div class="mr-6 hidden md:block">
                <div class="">
                    {{ form_row(searchForm.dateStart) }}
                    {{ form_row(searchForm.dateEnd) }}
                </div>
            </div>
            <div class="mr-6">
                <div class="block text-gray-700 text-sm font-bold mb-2 required">Inclure les sorties auxquelles...</div>
                <div class="all-inline checkbox">
                    {{ form_widget(searchForm.includeRegistered) }}
                    {{ form_label(searchForm.includeRegistered) }}
                </div>
                <div class="all-inline checkbox">
                    {{ form_widget(searchForm.includeNotRegistered) }}
                    {{ form_label(searchForm.includeNotRegistered) }}
                </div>
            </div>
            <div>
                {{ form_row(searchForm.submit) }}
            </div>
        </div>
        {{ form_end(searchForm) }}
    </div>

    <section class="home-event-cards">
        {% for event in events %}
            <article class="{{ event.getCssClass(app.user) }}">
                <div class="card-title">
                    {# voir le security voter pour comprendre ce is_granted ! #}
                    {% if is_granted('view', event) %}
                        <a href="{{ path('event_detail', {'id': event.id}) }}">{{ event.title }}</a>
                    {% else %}
                        {{ event.id }} {{ event.title }}
                    {% endif %}
                </div>
                <div class="card-date-start">Le {{ event.dateStart|format_datetime("long", "short", locale="fr") }}</div>
                <div class="card-state">Cette sortie est {{ event.state.name|lower }}</div>
                {% if event.state.name == "ouverte" %}
                <div class="card-date">Inscriptions ouvertes jusqu'au {{ event.dateRegistrationEnded|date('d-m') }} !</div>
                {% endif %}
                <div class="card-max-registration">{{ event.registrations|length }} / {{ event.maxRegistrations }}</div>
                {% if event.isRegistered(app.user) %}
                <div class="">Vous êtes inscrit !!</div>
                {% endif %}
                <div class="">Organisée par <a href="{{ path('user_profile', {id: event.creator.id}) }}">{{ event.creator.fullName }}</a></div>
                <div class="actions">
                    {% if is_granted('view', event) %}
                        <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>
                    {% endif %}
                    {% include 'inc/event_actions_link.html.twig' %}
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}
